
<div class="container-fluid d-flex h-100 flex-column">
  <p *ngIf="!taskItem"><em>Loading...</em></p>

  <div class="card" *ngIf="taskItem" style="min-height: 50vh">
    <div class="row m-0">
      <div class="col card-header">
        {{ taskItem.name }}
      </div>
    </div>

    <div class="row m-0 flex-fill d-flex">
      <div class="col card-body">
        {{ taskItem.description }}
      </div>
    </div>

    <div class="row m-0">
      <div class="col card-footer">
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['/task-list']">Back</button>
      </div>
    </div>
  </div>

</div>
